[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/nix"]
	path = themes/nix
	url = https://github.com/LordMathis/hugo-theme-nix
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = git@github.com:dillonzq/LoveIt.git
