<nav>
  <h1>Hola.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/a2645f0979a7223443ea3ae6530c0833.png" id="logo" alt="Blog logo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Soy <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Ingeniero Técnico en Infomática de Gestión.</p>
    <p>Experto en desarrollo de aplicaciones en Python y Java.</p>
  </div>
  <div id="social">
      {% include social.html %}
  </div>
</nav>
