<nav>
  <h1>Hola.</h1>
  <a href="/">
    <img src="http://www.gravatar.com/avatar/a2645f0979a7223443ea3ae6530c0833.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>Soy <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>Ingeniero Técnico en Infomática de Gestión.</p>
  <p>
    Experto en desarrollo de aplicaciones en Python y Java.
  </p>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  </ul>
  <a class="twitter-timeline" href="https://twitter.com/pakuco" data-widget-id="485741005228892160">Tweets por @pakuco</a>
<script>
!function(d,s,id) {
  var js,fjs=d.getElementsByTagName(s)[0], p=/^http:/.test(d.location)?'http':'https';
  
  if(!d.getElementById(id)) {
    js=d.createElement(s);
    js.id=id;
    js.src=p+"://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);
  }
  
}(document,"script","twitter-wjs");
  
</script>


</nav>
